@import "../../../node_modules/bootstrap/scss/bootstrap-grid.scss";

.dropdown {
  button {
    display: none;
  }
}
.nav-Btns-wrapper {
  display: none;
}
.notification {
  position: absolute;
  right: -6px;
  top: -3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
}
.dropdown-menu-custom {
  display: block;
  position: relative;
  right: 0px;
  margin: 5px;
  background-color: var(--bgc-dropdown);
  border-radius: 0%;

  ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li:hover {
    background-color: var(--dropdown-buttons-hover);
  }

  a {
    display: grid;
    grid-template-columns: minmax(1.5rem, auto) 1fr;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    padding: 1rem 1.3rem;
    color: var(--dropdown-buttons-color);
    i {
      justify-self: end;
      padding: 0rem 0.5rem;
    }
  }
}

.navbar-toggler {
  border-radius: 35%;
  aspect-ratio: 1 / 1;
  font-size: 1.3rem;
}
@mixin nav-btns-pos {
  position: absolute;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@include media-breakpoint-up(sm) {
  .nav-Btns-wrapper {
    @include nav-btns-pos;
  }
  .navbar-brand {
    z-index: 10;
  }
  .navbar {
    .nav-btns-container {
      @include nav-btns-pos;
    }
  }
  .navbar-collapse {
    ul {
      display: flex;
      justify-content: space-around;
      .btn {
        width: 100%;
      }
    }
  }
  .dropdown {
    margin-right: 0.5rem;
    button {
      display: block;
      border-radius: 35%;
      aspect-ratio: 1 / 1;
      font-size: 1.3rem;
    }
    a {
      grid-template-columns: minmax(1.5rem, auto) 1fr;
      align-items: center;
    }
  }
  .dropdown-menu-custom {
    position: absolute;
    border-radius: 2%;
    a {
      padding-right: 2rem;
      display: flex;
    }
  }

  .hidden {
    display: none;
  }
}
