@import "./variables.scss";
@import "./auth/auth.scss";
@import "./auth/loggedInOutPopup.scss";
@import "./auth/createUsername.scss";
@import "./components/navbar.scss";
//routes
@import "./routes/notLogged.scss";
@import "./routes/notFound.scss";
@import "./routes/friends.scss";
@import "./routes/moviesPopular";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

#root {
  padding: 0px !important;
  margin: 0px !important;
  height: 100%;
  max-width: 100vw;

  display: flex;
  flex-direction: column;
}
html,
body {
  height: 100vh;
}
a {
  text-decoration: none;
}

/* USE BEM */
/* w roocie uzyc --text-color : rgb(255, 0, 0) */
/* potem */
/* p {
  color: var(--text-color);
} */
/* use clamp(min, preffered, max) */
/* calc( ) */
/* button: focus-within focus stays within the children*/
/* 
gird-template-columns:
repeat(auto-fit, minmax(250px, 1fr))

header :is(h1, a, .btn){
  color:red
}
children of header ^^
*/
